{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- container -->
<div class="container pb-5 pt-4">
  <!-- row -->
  <div class="row justify-content-center">
    <!-- card -->
    <div class="card col-12 col-md-8 col-lg-10 mx-auto">
      <!-- cardbody -->
      <div class="card-body">
        <!-- Heading -->
        <h3 class="text-center">{% trans "Sign In" %}</h3>
        <p class="text-center">{% blocktrans %}Welcome back to Elite. To Reserve a table, please log in. If
          you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
          first.{% endblocktrans %}
        </p>
        <!-- form -->
        <!-- Display non-field errors at the top -->
        {% if form.non_field_errors %}
        <div class = "text-center">
          {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
        <!-- input -->
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <!-- Render fields -->
          {% for field in form %}
          {% if field.name == "remember" %}
          <!-- "Remember Me" checkbox styling -->
          <div class="form-check mt-3">
            {{ field }}
            <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
          {% else %}
          <div class="form-group">
            <!-- Render the field label on top of the field -->
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="form-control">
              <!-- Render the field itself -->
              {{ field }}
            </div>
            {% endif %}
            {% endfor %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <!-- buttons-->
            <div class="row justify-content-center mt-4">
              <div class="col-12 col-md-6 mb-3">
                <button class="btn custom-button w-100" type="submit">{% trans "Sign In" %}</button>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <a class="btn custom-button w-100" href="{% url 'home' %}">Home</a>
              </div>
              <!-- buttons end-->
            </div>
            <!-- form end -->
        </form>
        <!-- cardbody End-->
      </div>
      <!-- card End-->
    </div>
    <!-- row End -->
  </div>
  <!-- container End-->
</div>
{% endblock %}