{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<!-- container -->
<div class="container pb-5 pt-4">
  <!-- row -->
  <div class="row justify-content-center">
    <!-- card -->
    <div class="card col-12 col-md-8 col-lg-10 mx-auto">
      <!-- cardbody -->
      <div class="card-body">
        <!-- Heading -->
        <h3 class="text-center">{% trans "Sign Out" %}</h3>
        <!-- warning question-->
        <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <!-- buttons-->
          <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-6 mb-3">
              <button class="btn custom-button w-100" type="submit">{% trans 'Sign Out' %}</button>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <a class="btn custom-button w-100" href="{% url 'home' %}">Home</a>
            </div>
            <!-- buttons end-->
          </div>
          <!-- Form Field End-->
        </form>
        <!-- cardbody End-->
      </div>
      <!-- card End-->
    </div>
    <!-- row End -->
  </div>
  <!-- container End-->
</div>
{% endblock %}