{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container pb-5 pt-4">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center">
                    <h3>{% trans "Change Password" %}</h3>
                </div>
                <div class="col-md-8 mt-3 offset-md-2">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-flex mb-3 flex-wrap">
                            <button class="btn custom-button" type="submit"
                                name="action">{% trans "Change Password" %}</button>
                        </div>
                    </form>
                    <div class="d-flex mb-3 flex-wrap">
                        <a class="btn custom-button" 
                            href="{% url 'my_account' %}">Back to Account</a>
                        <button class="btn custom-button"
                            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}