/* ----------------------------------------- Custom Colours */
/* ------------------------ backgrounds*/

/* navbar */
.navbar {
    background-color: #001F3F;
}

/*footer*/
.footer {
    background-color: #001F3F;
}

main {
    background-color: #3A6D8C;
}

.card {
    background-color: #6A9AB0;
}

/* ------------------------ text*/

h1, h2, h3, p {
    color:#EAD8B1;
}

/*navbar links*/
.navbar.navbar-dark .navbar-nav .nav-link {
    color: #EAD8B1
}

/*navbar text*/
.navbar.navbar-dark .navbar-text {
    color: #ffffff
}

/*footer*/
.footer {
    color: #EAD8B1 ;
}

/* footer social media */
.social-icon {
    color: #EAD8B1;
}

/* ------------------------ buttons and links*/

/* buttons */
.custom-button, .narrow-button {
    background-color: #EAD8B1;
    color: #001F3F;
}

.link {
    color: #ffffff;
}

/* ------------------------ hovers*/

/* navbar items change color on hover*/
.navbar .navbar-nav .nav-link:hover {
    color:#ffffff;
}

/*social icons change color on hover*/
.social-icon:hover {
    color: #ffffff; 
}

/* button change color on hover*/
.custom-button:hover, .narrow-button:hover {
    background-color:#001F3F;
    color: white;
}

/* ----------------------------------------- Design choices */

/* -------------------- General*/
h1 {
    font-size: 5rem;
}

h3 {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.container-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
}

.card {
    max-width: 1000px; 
    width: 100%; 
    margin: 0 auto;  
}

main {
    padding-bottom: 60px;
}

/* -------------------- buttons */

/* main buttons*/
.custom-button {
    padding: 10px 20px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    flex: 1 1 200px;
    padding-bottom: 10px;
    
}

.narrow-button {
    width: auto; 
    max-width: 150px; 
    padding: 10px 20px; 
    text-align: center; 
    display: inline-block;
    margin-top: 10px;
}

/* -------------------- navbar */
.navbar {
    border-bottom: none;
}

/* active navbar link is underlined*/
.navbar-nav .nav-item.active .nav-link {
    text-decoration: underline;
}

/* -------------------- footer */
.footer {
    text-align: center;
    padding: 10px;
}

/*social icons*/
.social-icon {
    margin: 0 10px;
    font-size: 24px;
}

/* -------------------- about_us.html */

.about-image {
    width: 100%;
    height: 300px;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
}

.about-section {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}