/* ----------------------------------------- Custom Colours */
/* ------------------------ backgrounds*/

/* navbar */
.navbar {
    background-color: #001F3F;
}

/*footer*/
.footer {
    background-color: #001F3F;
}

/* ------------------------ text*/

/*navbar links*/
.navbar.navbar-dark .navbar-nav .nav-link {
    color: #EAD8B1
}

/*navbar text*/
.navbar.navbar-dark .navbar-text {
    color: #ffffff
}

/*footer*/
.footer {
    color: #EAD8B1 ;
}

/* ------------------------ hovers*/

/* navbar items change color on hover*/
.navbar .navbar-nav .nav-link:hover {
    color:#ffffff;
}


/* ----------------------------------------- Design choices */

/* -------------------- navbar */
.navbar {
    border-bottom: none;
}

/* -------------------- footer */
.footer {
    text-align: center;
    padding: 10px;
}