{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- container -->
<div class="container pb-5 pt-4">
    <!-- row -->
    <div class="row justify-content-center">
        <!-- card -->
        <div class="card col-12 col-md-8 col-lg-10 mx-auto">
            <!-- cardbody -->
            <div class="card-body">
                <div class="text-center">
                    <h1 >500</h1>
                    <h2>Server Error</h2>
                    <p>Oops, something went wrong.</p>
                    <p>Try to refresh this page or feel free to contact us if the problem persists.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}