<div class="social-media">
    <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="social-icon"
        aria-label="Visit Elite Facebook page (opens in a new tab)">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="social-icon"
        aria-label="Visit Elite Instagram page (opens in a new tab)">
        <i class="fa-brands fa-instagram"></i>
    </a>
</div>

<div>
    <p class="copyright">© 2024 Elite. All rights reserved.</p>
</div>