<div class="navbar navbar-dark navbar-expand-lg fixed-top">
    <!-- brand -->
    <a class="navbar-brand" href="">Elite</a>

    <!-- Navbar Toggler for small screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapasble navabr-->
    <div class = "Collapasble navbar-collapse" id="navbarNav">
        <ul class ="navbar-nav mr-auto">
            <!-- User navigation top left-->
            <li class ="nav-item mr-2 {% if request.path == '/' %}active{% endif %}">
                <a class = "nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class ="nav-item mr-2 {% if request.path == '/about-us/' %}active{% endif %}">
                <a class = "nav-link" href="{% url 'about_us' %}">About Us</a>
            </li>
            <li class ="nav-item mr-2">
                <a class = "nav-link" href="">Menu</a>
            </li>
            <li class ="nav-item mr-2">
                <a class = "nav-link" href="">My Reservations</a>
            </li>
            <li class ="nav-item mr-2">
                <a class = "nav-link" href="">My Account</a>
            </li>
        </ul>

        <!-- User welcome message and account options in top right-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-none d-lg-block">
                <p class="navbar-text my-auto">Welcome!</p>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" href="">Log In</a>
            </li>
        </ul>
    </div>


</div>