{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1>About Us</h1>
    <div class="row">
        <div class="col-12 col-md-4 mb-4 about-section">
            <h2>Our history</h2>
            <p>
                Elite has been serving fine Indian cuisine since its inception in 1996. Our journey began with a passion
                for
                authentic flavors and a commitment to quality.
            </p>
            <img src="../static/images/history.jpg" alt="Our History" class="about-image img-fluid mb-3">
        </div>
        <div class="col-12 col-md-4 mb-4 about-section">
            <h2>Our Founder</h2>
            <p>
                Safiyah Munshi, the visionary behind Elite, has dedicated their life to perfecting the art of Indian
                cooking.
                Their experience and love for food is evident in every dish we serve.
            </p>
            <img src="../static/images/our-founder.jpg" alt="Safiyah Munshi" class="about-image img-fluid mb-3">
        </div>
        <div class="col-12 col-md-4 mb-4 about-section">
            <h2>Our community</h2>
            <p>
                At Elite, we believe in giving back to our community. We regularly participate in
                free to use gardens with herbs and vegetables, and strive to make a positive impact.
            </p>
            <img src="../static/images/our-community.jpg" alt="Our Community Outreach" class="about-image img-fluid mb-3">
        </div>
    </div>
</div>

{% endblock %}