{% extends "base.html" %}

{% block content %}

<!-- container -->
<div class="container pb-5 pt-4">>
    <!-- Heading -->
    <h3 class="text-center">Reservation Overview</h3>

    <!-- Date filter Form -->
    <form method="POST" class="mb-3">
        {% csrf_token %}
        <div class="d-flex align-items-center">
            <label for="reservation_date" class="mr-2">Select Date:</label>
            <input type="date" id="reservation_date" name="reservation_date" required class="form-control mr-2">
            <button class="btn custom-button mr-2 width-200" type="submit">View Reservations</button>
            <a class="btn custom-button width-200" href="{% url 'make_reservation' %}">Make a Reservation</a>
        </div>
        <!-- Date selection form end-->
    </form>

    {% if selected_date %}
        <h4 class="mt-4">Reservations for {{ selected_date }}</h4>

        {% if reservations %}
        <!-- Reservations Grid -->
        <div class="table-responsive">
            <table class="table table-bordered text-center ">
                <!-- table heading -->
                <thead class="thead-custom">
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th>Guests</th>
                        <th>Phone</th>
                        <th>Occasion</th>
                        <th>table number</th>
                    </tr>
                </thead>
                <!-- table content -->
                <tbody>
                    {% for reservation in reservations %}
                    <tr class="tr-custom">
                        <td>{{ reservation.name }}</td>
                        <td>{{ reservation.reservation_time }}</td>
                        <td>{{ reservation.number_of_guests }}</td>
                        <td>{{ reservation.phone_number }}</td>
                        <td>{{ reservation.special_occasion }}</td>
                        <td>{{ reservation.seat_id }}</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        <!-- else if reservations -->
        {% else %}
        <p>There are no reservations for {{ selected_date }}</p>
        <!-- end if reservations -->
        {% endif %}
        {% endif %}
        <!-- container end-->
    </div>
    {% endblock %}