{% extends 'base.html' %}

{% block content %}
<!-- container -->
<div class="container pb-5 pt-4">
  <!-- row -->
  <div class="row justify-content-center">
    <!-- card -->
    <div class="card col-12 col-md-8 col-lg-10 mx-auto">
      <!-- cardbody -->
      <div class="card-body">
        <!-- Heading -->
        <h3 class="text-center">Edit Reservation</h3>

        <!-- Display error message if time is unavailable -->
        {% if form.non_field_errors %}
        <div>
          {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}

        <form method="post">
          {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              <div class="form-control">{{ field }}</div>
            </div>
            {% endfor %}
            <!-- available times if selected time is unavailable-->
            {% if available_times %}
              <h5 class="text-center">Nearest available times:</h5>
              <div class="row">
                {% for time in available_times %}
                <div class="col-4 col-lg-2 mb-2 text-center">
                  <div class="available-times-item">{{ time }}</div>
                </div>
                {% endfor %}
                {% endif %}
                <!-- available times end-->
              </div>
          <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-6 mb-3">
              <button class="btn custom-button w-100" type="submit" name="action">Make changes</button>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <a class="btn custom-button w-100" href="{% url 'my_reservations' %}">Your reservations</a>
            </div>
            <!-- buttons end-->
          </div>
          <!-- Form Field End-->
        </form>
        <!-- cardbody End-->
      </div>
      <!-- card End-->
    </div>
    <!-- row End -->
  </div>
  <!-- container End-->
</div>
{% endblock %}