{% extends 'base.html' %}

{% block content %}
<!-- container -->
<div class="container pb-5 pt-4">
  <!-- row -->
  <div class="row justify-content-center">
    <!-- align everything center-->
    <div>
      <!-- card -->
      <div class="card col-12 col-md-6 col-lg-4 mx-auto">
        <!-- cardbody -->
        <div class="card-body">
          <!-- Heading -->
          <h3 class="text-center">Make a Reservation</h3>
          <!-- Form field-->
          <form class="make-reservation-form" method="post">
            {% csrf_token %}
            <!-- label above form input-->
            {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              <div class="form-control">{{ field }}</div>
            </div>
            {% endfor %}
            <!-- label above form input End-->
            <!-- Form Field End-->
            <!-- buttons-->
            <div class="row justify-content-center mt-4">
              <div class="col-12 col-md-6 mb-3">
                <button class="btn custom-button w-100" type="submit" name="action">Make Reservation</button>
              </div>
              <div class="col-12 col-md-6 mb-3">
                <a class="btn custom-button w-100" href="{% url 'home' %}">Back to Home</a>
              </div>
            </div>
            <!-- buttons end-->
          </form>
          <!-- cardbody End-->
        </div>
        <!-- card End-->
      </div>
      <!-- align center end -->
    </div>
    <!-- row End -->
  </div>
  <!-- container End-->
</div>
{% endblock %}