{% extends 'base.html' %}

{% block content %}
<!-- container -->
<div class="container pb-5 pt-4">
  <!-- row -->
  <div class="row justify-content-center">
    <!-- card -->
    <div class="card col-12 col-md-8 col-lg-10 mx-auto">
      <!-- cardbody -->
      <div class="card-body">
        <!-- Heading -->
        <h3 class="text-center">Make a Reservation</h3>

        <!-- Display error message if time is unavailable -->
        {% if form.non_field_errors %}
          <div>
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <!-- Form field-->
        <form method="post">
          {% csrf_token %}
          <!-- form input-->
          {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="form-control">{{ field }}</div>
          </div>
          {% endfor %}
          <!-- available times if selected time is unavailable-->
          <div class="d-flex mb-3 flex-wrap">
            {% if available_times %}
            <h5>Available times:</h5>
            <ul class="available-times-list">
              {% for time in available_times %}
              <li>{{ time }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <!-- available times end-->
          </div>
          <!-- Form input End-->
          <!-- buttons-->
          <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-6 mb-3">
              <button class="btn custom-button w-100" type="submit" name="action">Make Reservation</button>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <a class="btn custom-button w-100" href="{% url 'home' %}">Back to Home</a>
            </div>
            <!-- buttons end-->
          </div>
          <!-- form end -->
        </form>
        <!-- cardbody End-->
      </div>
      <!-- card End-->
    </div>
    <!-- row End -->
  </div>
  <!-- container End-->
</div>
{% endblock %}