{% extends "base.html" %}

{% block content %}

<!-- container -->
<div class="container pb-5 pt-4">
    <!-- row -->
    <div class="row justify-content-center">
        <!-- card -->
        <div class="card col-12 col-md-8 col-lg-10 mx-auto">
            <!-- cardbody -->
            <div class="card-body">
                <!-- Heading -->
                <h3 class="text-center">Reservation Overview</h3>

                <!-- Date Selection Form -->
                <form method="POST" class="text-center">
                    {% csrf_token %}
                    <label for="reservation_date" class="mr-2">Select Date:</label>
                    <input type="date" id="reservation_date" name="reservation_date" required
                        class="form-control d-inline-block w-auto">
                    <button class="btn custom-button ml-2" type="submit">View Reservations</button>
                    <!-- Date selection form end-->
                </form>

                {% endblock %}