{% extends "base.html" %}

{% block content %}

<!-- container -->
<div class="container pb-5 pt-4">>
    <!-- Heading -->
    <h3 class="text-center">Reservation Overview</h3>

    <!-- Date filter Form -->
    <form method="POST" class="mb-3">
        {% csrf_token %}
        <div class="d-flex align-items-center">
            <label for="reservation_date" class="mr-2">Select Date:</label>
            <input type="date" id="reservation_date" name="reservation_date" required class="form-control mr-2"
                style="max-width: 200px;">
            <button class="btn custom-button" style="max-width: 200px;" type="submit">View Reservations</button>
        </div>
        <!-- Date selection form end-->
    </form>

    {% if selected_date %}
        <h4 class="mt-4">Reservations for {{ selected_date }}</h4>

        {% if reservations %}
        <!-- Filter options -->
        <div class="d-flex mb-2">
            <label for="filter_column" class="mr-2">Filter by:</label>
            <select id="filter_column" class="form-control" style="max-width: 150px;">
                <option value="name">Name</option>
                <option value="reservation_time">Time</option>
                <option value="number_of_guests">Guests</option>
                <option value="phone_number">Phone</option>
                <option value="special_occasion">Occasion</option>
            </select>
            <input type="text" id="filter_input" placeholder="Search..." class="form-control ml-2" style="max-width: 200px;">
        </div>




        <!-- else if reservations -->
        {% else %}
        <p>There are no reservations for {{ selected_date }}</p>
        <!-- end if reservations -->
        {% endif %}





        {% endif %}
        <!-- container end-->
    </div>
    {% endblock %}