{% extends "base.html" %}

{% block content %}
<div class="container flex-grow-1 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mt-4 mb-4">Reservation Overview</h3>
    <form method="POST">
        {% csrf_token %}
        <label for="reservation_date">Select Date:</label>
        <input type="date" id="reservation_date" name="reservation_date" required>
        <button class="btn custom-button flex-fill mx-1" type="submit">View Reservations</button>
    </form>

    {% if selected_date%}
    <h4 class="mt-4 mb-4">reservations for {{selected_date}}</h4>
    {% if reservations %}
    <div class=" row mb-5">
        {% for reservation in reservations%}
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class='list-group-item d-flex justify-content-between align-items-center mb-2'>
                <div>
                    <strong>Name: </strong>{{ reservation.name }}
                    <br>
                    <strong>Time: </strong>{{ reservation.reservation_time }}
                    <strong>Guests: </strong>{{ reservation.number_of_guests }}
                    <br>
                    <strong>Phone: </strong>{{ reservation.phone_number}}
                    <br>
                    <strong>Occasion: </strong>{{reservation.special_occasion}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>There are no reservations currently for {{selected_date}}</p>
    {% endif%}
    {% endif%}
    {% endblock %}
</div>