{% extends 'base.html' %}

{% block content %}
<!-- container -->
<div class="container pb-5 pt-4">
    <!-- row -->
    <div class="row justify-content-center">
        <!-- card -->
        <div class="card col-12 col-md-8 col-lg-10 mx-auto">
            <!-- cardbody -->
            <div class="card-body">
                <!-- Heading -->
                <h3 class="text-center">Delete Account</h3>
                <!-- Paragraphs -->
                <p class="text-center">Are you sure you want to delete your account? This action cannot be undone.</p>
                <p class="text-center"><strong>THIS WILL DELETE ANY RESERVATIONS YOU MAY HAVE</strong></p>

                <form method="POST">
                    {% csrf_token %}
                    <!-- buttons-->
                    <div class="row justify-content-center mt-4">
                        <div class="mr-3">
                            <button type="submit" class="btn btn-danger mt-2">Yes, delete my account</button>
                        </div>
                        <div class="">
                            <a class="btn btn-secondary mt-2" href="{% url 'my_account' %}">Cancel</a>
                        </div>
                        <!-- buttons end-->
                    </div>
                    <!-- Form Field End-->
                </form>
                <!-- cardbody End-->
            </div>
            <!-- card End-->
        </div>
        <!-- row End -->
    </div>
    <!-- container End-->
</div>
{% endblock %}